body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section-text-list{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h2, h3, p{
    margin-top: 0;
    margin-bottom: 0;
}


img{
    display: block;
}
.btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    align-items: center;
}


.our-team{
    background: #F4F4FD;
    padding: 120px 0;
}


.section-text{
    padding: 120px 0;

}
.section-text ul{
    list-style: none;
}
.navigation {
    list-style: none;

}

.navigation a {
    color: #2E2F42;
    text-decoration: none;
    
}

.navigation a:hover {
    color: #404BBF
}

.navigation a:active {
    text-decoration: underline;
    color: #404BBF;
}


.address ul{
    list-style: none;
    font-style: normal;
}
.address-link{
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover{
    color: #404BBF;
}

.address-link:focus{
    color: #404bbf;
}

.btn{
    display: block;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
    margin: 0 auto;
    justify-content: center;
}

.btn:hover{
    color: #FFFFFF;
    background: #404BBF;    
}

.btn:focus{
    background-color: #404BBF;
}

.hero{
    background: #2E2F42;
    color: #FFFFFF;
    padding: 188px 0;
}

.section-text-h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-text-ul{
    display: flex;
    gap: 24px;
    
}

.section-text-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
}

.hero-text{
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 56px;
    max-width: 496px;
    margin: 0 auto 48px auto;
}

.header-nav-a{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    align-content: center;
    margin-right: 76px;
    display: inline-block;

}


.header-footer-a{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
        align-content: center;
        display: inline-block;
        margin-bottom: 16px;

}
.spn{
    color:#2e2f42;
}

.header-li-a, .header-li-a.focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-li-a.focus{
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;


}

.header-li-active:focus{
    color: #404bbf;
}

.header-li-active{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.address{
    font-style: normal;
    align-items: center;
}

.our-team-header{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}
.our-team-li{
    background-color: #FFFFFF;
    list-style-type: none;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    
}

.out-team-mark-guerrero{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.portfolio-text{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-text-h{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.spn-footer{
    color: #f4f4fd;
}

.footer-p{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    max-width: 264px;
    
}

.section-text-main{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin: 0 auto 8px auto;
}

.portfolio-li{
    list-style-type: none;
    width: calc((100% - 48px) / 3);
}



.container{ 
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.navigation{
    display: flex;
    gap: 40px;
    margin:0 0 0 76px;
    padding-left: 0;
    align-items: center;
    
}

.header-nav{
    display: flex;
    align-items: center;

}

.header{
    border-bottom: 1px solid #e7e9fc;
}

.address-list{
    display: flex;
    gap: 40px;
    margin: 0 0 0 76px;
    padding: 24px 0;
    
}

.our-team-list{
    display: flex;
    gap: 24px;

}

.section-text-method{
    width:calc((100% - 72px) / 4);
}

.hero .container{
    align-items: center;
    
}

.our-team .container{
    flex-direction: column;
        align-items: center;
}

.our-team-des{
    text-align: center;
    padding: 32px 0;

}

.our-team-des p{
    margin: 0;
    
}


.our-team-li{
    box-shadow: 0 1px 6px rgb(46, 47, 66, 0.08);
}
 .container .header-nav-a:last-child{
        margin-bottom: 16px;
    } 

   .header .container{
    display: flex;
    align-items: center;
   }

.portfolio{
    padding: 120px 0;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.aplications{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio .container{
    flex-direction: column;
}
